
<h1 class="animated fast fadeIn" >About proyecto 2</h1>
<hr/>
<p class="animated  fadeIn">
  TUTORIAL 2, NAVVAR, ROUTES, efectos carga, servicios, pipes, rutas por cofigo, rutas por url,

  **pipes
   cambian el template de como se ve la info
  *cuerrency
  *date
  *uppercase
  *json
  *limitTo
  *lowerCase
  *async
  *deciaml
  *percent

  @input

  @putput
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
