<h4>Formularios <small>template</small></h4>
<hr>

<h3>Nota: si el ngMOdel solo tiene un [] no comparte la info al objecto que lo llama, si tiene  [()] si la comparte </h3>

<form (ngSubmit)="guardar(forma)"
      #forma="ngForm"
      novalidate>

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               required
               minlength="5"
               placeholder="Nombre"
               #nombre="ngModel">



               <div *ngIf="nombre.errors?.minlength " class="">
                 minimo {{nombre.errors.minlength.requiredLength}} caracters
               </div>

               <div *ngIf="nombre.errors?.required  && poliza.touched"  class="">
                 es requerido
               </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               required
               [(ngModel)]="usuario.apellido"
               placeholder="Apellido"
               #apellido="ngModel">




              <div *ngIf="apellido.errors?.required"  class="">
                es requerido
              </div>

      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             name="email"
             required
             [(ngModel)]="usuario.correo"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             placeholder="Correo electrónico"
             #correo="ngModel">


             <div *ngIf="correo.errors?.required"  class="">
               es requerido
             </div>

             <div *ngIf="correo.errors?.pattern"  class="">
                patterno no valido
             </div>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">

    <select class="form-control" name="pais"
             [(ngModel)]="usuario.pais">
            <option value="">Seleciona uno</option>
            <option *ngFor="let pais of paises"  [value]="pais.codigo">{{pais.nombre}}</option>
    </select>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">

             <input type="radio" name="sexo" value="hombre" [(ngModel)]="usuario.sexo"> HOmbre
             <input type="radio" name="sexo" value="mujer" [(ngModel)]="usuario.sexo"> Mujer

    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">condiciones</label>
    <div class="col-md-8">
         <input type="checkbox" name="acepta" required [(ngModel)]="usuario.terminos">Terminos y condiciones
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid" >
        Guardar
      </button>
    </div>
  </div>

</form>


<pre>
  {{usuario | json}}
</pre>
